<ng-container *ngIf="favoriteImages.length;else noImages">
    <app-pic-display *ngIf="!paramsId;else singleImg" [images]="favoriteImages" [scrollEnabled]="false"></app-pic-display>
</ng-container>

<ng-template #noImages>
    <h1 style="padding:10px;">No images in Favorites</h1>
</ng-template>

<ng-template #singleImg>
    <div class="singleImage">
        <img width="900px" height="700px" [src]="singleImage.download_url">
        <button mat-raised-button color="warn" (click)="removeFromFavorite()">Remove</button>
    </div>
</ng-template>